<h1>Witaj w Active MVP</h1>

<p>Krótki dashboard:</p>
<ul>
  <li>Places: <strong><%= @places_count %></strong></li>
  <li>Courses: <strong><%= @courses_count %></strong></li>
  <li>Participants: <strong><%= @participants_count %></strong></li>
</ul>

<p><%= link_to "Zobacz wszystkie miejsca", places_path %></p>